workflows/local_5679_kali_a/personal/Capture - Indeed - Candidate and Outreach Queue.json
{
  "id": "K2a9QXUBsjP5q2iM",
  "name": "Capture - Indeed - Candidate and Outreach Queue",
  "nodes": [
    {
      "parameters": {
        "content": "Purpose:\nProcesses Indeed-related data and messages into structured outreach/candidate queues.\n\nTrigger:\nSchedule Trigger with optional manual run.\n\nProcess Summary:\n- Collect source messages/data.\n- Classify and score with AI chains.\n- Fetch additional web context if needed.\n- Append/update rows in Google Sheets.\n\nOutput:\nPrioritized candidate/outreach entries in tracking sheet.\n\nOwner:\nRecruiting Operations",
        "height": 380,
        "width": 620,
        "color": 7
      },
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1604,
        -484
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "q": "indeed"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -784,
        76
      ],
      "name": "Get many messages",
      "webhookId": "ca28aa0b-1288-43cb-afa8-17191d7214db",
      "credentials": {
        "gmailOAuth2": {
          "id": "AUvfU2dkZPo9RTm6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -336,
        76
      ],
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an extraction engine. Your task is to process job listings text provided by the user. For each job listing, identify and extract:\n\n1. **Company Name** – exact spelling as provided.  \n2. **Job Requirement** – detailed description of the position, skills, or role sought by the company.\n\n## Output Format\n- Return valid JSON only.\n- The JSON structure must strictly follow this format:\n[\n  {\n    \"company_name\": \"<Company Name>\",\n    \"looking_for\": \"<detailed job requirement>\"\n  }\n]\n- Each company must be an object in the array.\n\nRules:\n- Only include information explicitly stated in the text.\n- Do not infer missing company names or job requirements.\n- Ignore unrelated text.\n- Maintain exact spelling of company names and requirements.\n- Do not add commentary or extra fields.\n\nExtract company names and their job requirements from the text below. Return valid JSON following the structure defined above.\n\ninput ={ {{ $json.text }} ,{{ $json.textAsHtml }} , {{ $json.subject }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a strict information extraction engine. Responsibilities:\n\nInput Processing: Accept raw job listing text provided by the user.\n\nExtraction:\n- Company Name – extract exactly as written in the text.\n- Job Requirement – extract the exact position, role, or skills mentioned. Include all relevant details provided.\n\nOutput Formatting:\n- Return only valid JSON in the exact structure:\n[\n  {\n    \"company_name\": \"<Company Name>\",\n    \"looking_for\": \"<detailed job requirement>\"\n  }\n]\n\nStrict Constraints:\n- Do not add commentary, explanations, numbering, or lists.\n- Do not infer missing information.\n- Ignore unrelated text.\n- Maintain original spelling, punctuation, and formatting exactly as in the source.\n- Ensure the JSON is valid and parsable.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -112,
        -48
      ],
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -40,
        176
      ],
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "RIms8TxQ2t3NWwfN",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw",
          "mode": "list",
          "cachedResultName": "Indeed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_name": "={{ $json.company_name }}",
            "looking_fo": "={{ $json.looking_for }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "looking_fo",
              "displayName": "looking_fo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        76
      ],
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNLavzV8rZPPc9vz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Step 0: Access input text\nconst rawText = $input.first().json.text;\n\n// Step 1: Remove Markdown code block markers\nconst text = rawText.replace(/^```json\\s*/, '').replace(/```$/, '').trim();\n\n// Step 2: Match all objects using regex\n// This captures \"company_name\": \"<value>\" and \"looking_for\": \"<value>\"\nconst regex = /{\\s*\"company_name\"\\s*:\\s*\"([^\"]+)\"\\s*,\\s*\"looking_for\"\\s*:\\s*\"([\\s\\S]*?)\"\\s*}/g;\n\nconst extractedJobs = [];\nlet match;\nwhile ((match = regex.exec(text)) !== null) {\n  extractedJobs.push({\n    json: {\n      company_name: match[1],\n      looking_for: match[2]\n        .replace(/\\n/g, ' ') // replace line breaks with spaces\n        .replace(/\\s+/g, ' ') // collapse multiple spaces\n        .trim()\n    }\n  });\n}\n\n// Step 3: Return in n8n-compatible format\nreturn extractedJobs;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -48
      ],
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Suppose you get multiple items from the previous node\nconst previousItems = $items(); // gets all items from the previous node\n\n// Map them if you want to transform or just return them all\nconst newItems = previousItems.map(item => {\n  return {\n    json: item.json // keep the original data\n  };\n});\n\n// Return all items\nreturn newItems.slice(36);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        76
      ],
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "content": "## Automatically scans Gmail for emails containing the keyword “Indeed,” extracts the company name from each message, and records the results in a Google Sheets spreadsheet.",
        "height": 320,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        -84
      ],
      "typeVersion": 1,
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        1052
      ],
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw",
          "mode": "list",
          "cachedResultName": "Indeed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 391272503,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit#gid=391272503"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        956
      ],
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNLavzV8rZPPc9vz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -112,
        956
      ],
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Instructions:\n\n1. Receive raw HTML/text from the Father Agent.\n2. Extract the following company-related information:\n   - Company Name\n   - Role / Looking For\n   - Email\n   - Industry\n   - Location\n   - Description\n   - Website\n   - Looking For (additional details)\n3. Return the extracted information in this exact\ninput : {{ $json.body }}\n\nJSON format:\n\n\n{\n  \"company_name\": \"<Company Name>\",\n  \"role_looking_for\": \"<Role / Looking For>\",\n  \"email\": \"<Email>\",\n  \"industry\": \"<Industry>\",\n  \"location\": \"<Location>\",\n  \"description\": \"<Description>\",\n  \"website\": \"<Website URL>\",\n  \"looking_for\": \"<Additional Details on Looking For>\"\n}\n\n4. Use the Auto-fixing Output Parser to:\n   - Correct any JSON syntax errors\n   - Ensure all required keys exist (use null or \"\" if a field is missing)\n   - Produce a valid JSON object\n5. Do not perform any analysis beyond extracting the fields from the given text/HTML.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are Tool Agent_scraper. Your role is to extract structured company-related information from the raw HTML/text provided by the Father Agent. \nYou are not responsible for fetching webpages. Your output must always conform to the specified JSON schema, and you must use the Auto-fixing Output Parser to ensure valid JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        784,
        508
      ],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        860
      ],
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f8991bf-f6a0-4f74-b358-46b54a0a2829",
              "leftValue": "={{ $json.status }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        956
      ],
      "name": "If"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        792,
        940
      ],
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "RIms8TxQ2t3NWwfN",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        860,
        732
      ],
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"company_name\": \"<Company Name>\",\n  \"role_looking_for\": \"<Role / Looking For>\",\n  \"email\": \"<Email>\",\n  \"industry\": \"<Industry>\",\n  \"location\": \"<Location>\",\n  \"description\": \"<Description>\",\n  \"website\": \"<Website URL>\",\n  \"looking_for\": \"<Additional Details on Looking For>\",\n  \"phone_number\": \"<CountryCode><AreaCode><LocalNumber> (no + sign, only digits)\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        964,
        940
      ],
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw",
          "mode": "list",
          "cachedResultName": "Indeed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 391272503,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit#gid=391272503"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone numbre ": "={{ $json.output.phone_number.replace(/\\\\+/g, '') }}",
            "row_number": "={{ $('Loop Over Items1').item.json.row_number }}",
            "Email": "={{ $json.output.email }}",
            "Industry": "={{ $json.output.industry }}",
            "Company Name": "={{ $json.output.company_name }}",
            "Description": "={{ $json.output.description }}",
            "status": "DDone"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Role / Looking For",
              "displayName": "Role / Looking For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Looking for",
              "displayName": "Looking for",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone numbre ",
              "displayName": "phone numbre ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hubspot",
              "displayName": "hubspot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1452,
        684
      ],
      "name": "Update row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNLavzV8rZPPc9vz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6018f913-4c87-42f4-90ee-76420aacbf6b",
              "leftValue": "={{ $('Loop Over Items1').item.json['Looking for'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1228,
        508
      ],
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw",
          "mode": "list",
          "cachedResultName": "Indeed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 391272503,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit#gid=391272503"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $('Loop Over Items1').item.json['Company Name'] }}",
            "phone numbre ": "={{ $json.output.phone_number.replace(/\\\\+/g, '') }}",
            "row_number": "={{ $('Loop Over Items1').item.json.row_number }}",
            "Description": "={{ $json.output.description }}",
            "Location": "={{ $json.output.location }}",
            "Industry": "={{ $json.output.industry }}",
            "Email": "={{ $json.output.email }}",
            "Role / Looking For": "={{ $json.output.role_looking_for }}",
            "status": "DDone"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Role / Looking For",
              "displayName": "Role / Looking For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Looking for",
              "displayName": "Looking for",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone numbre ",
              "displayName": "phone numbre ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hubspot",
              "displayName": "hubspot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1452,
        908
      ],
      "name": "Update row in sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNLavzV8rZPPc9vz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.Website }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        508
      ],
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw",
          "mode": "list",
          "cachedResultName": "Indeed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 391272503,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit#gid=391272503"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -784,
        1420
      ],
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNLavzV8rZPPc9vz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.Website }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -336,
        1276
      ],
      "name": "HTTP Request1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "db56038b-6abd-430e-affb-a08b24e85a40",
              "leftValue": "={{ $json.error.toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        1276
      ],
      "name": "If2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -560,
        1420
      ],
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw",
          "mode": "list",
          "cachedResultName": "Indeed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 891171857,
          "mode": "list",
          "cachedResultName": "Sheet4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit#gid=891171857"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $('Loop Over Items2').item.json['Company Name'] }}",
            "Role / Looking For": "={{ $('Loop Over Items2').item.json['Role / Looking For'] }}",
            "Email": "={{ $('Loop Over Items2').item.json.Email }}",
            "Industry": "={{ $('Loop Over Items2').item.json.Industry }}",
            "Location": "={{ $('Loop Over Items2').item.json.Location }}",
            "Description": "={{ $('Loop Over Items2').item.json.Description }}",
            "Looking for": "={{ $('Loop Over Items2').item.json['Looking for'] }}",
            "Website": "={{ $('Loop Over Items2').item.json.Website }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role / Looking For",
              "displayName": "Role / Looking For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Looking for",
              "displayName": "Looking for",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        1276
      ],
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNLavzV8rZPPc9vz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw",
          "mode": "list",
          "cachedResultName": "Indeed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 391272503,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit#gid=391272503"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json['Company Name'] }}",
            "status": "done"
          },
          "matchingColumns": [
            "Company Name"
          ],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Role / Looking For",
              "displayName": "Role / Looking For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Looking for",
              "displayName": "Looking for",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        1348
      ],
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNLavzV8rZPPc9vz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Validates whether pages exist and meet predefined validity criteria by checking availability, response status, and basic integrity.",
        "height": 288,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -904,
        1292
      ],
      "typeVersion": 1,
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "body",
              "cssSelector": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        560,
        508
      ],
      "name": "HTML"
    },
    {
      "parameters": {
        "content": "## A crawler that visits company websites and extracts company details, including description and phone number.",
        "height": 528,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -808,
        588
      ],
      "typeVersion": 1,
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "53dd47d8-c84f-4392-85cb-9e2d654d9a7a",
              "leftValue": "={{$node[\"HTTP Request\"].json[\"error\"]}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        336,
        508
      ],
      "name": "If3"
    }
  ],
  "connections": {
    "Get many messages": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": false,
  "projectId": "AbL0oEXcD3fRF7GZ",
  "projectName": "Personal",
  "homeProject": {
    "id": "AbL0oEXcD3fRF7GZ",
    "name": "Personal",
    "type": "personal"
  },
  "isArchived": false
}