workflows/local_5679_kali_a/personal/Check - Google Calendar - Appointment Availability.json
{
  "id": "pLTErWnaPnpfc6no",
  "name": "Check - Google Calendar - Appointment Availability",
  "nodes": [
    {
      "parameters": {
        "content": "Purpose:\nChecks whether requested times are available before booking appointments.\n\nTrigger:\nExecute Workflow Trigger from booking orchestrator.\n\nProcess Summary:\n- Receive date/time range.\n- Fetch events in requested window.\n- Evaluate slot availability.\n- Return normalized availability response.\n\nOutput:\nAvailability result for booking decision.\n\nOwner:\nSales Operations",
        "height": 380,
        "width": 620,
        "color": 7
      },
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -428,
        -48
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "aftertime"
            },
            {
              "name": "beforetime"
            }
          ]
        }
      },
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "monaimabdel119@gmail.com",
          "mode": "list",
          "cachedResultName": "monaimabdel119@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $json.aftertime }}",
        "timeMax": "={{ $json.beforetime }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        480,
        352
      ],
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SyE2XNafzrGkZHex",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6cfdd4aa-1515-4b78-84e5-054334b1cfb7",
              "leftValue": "={{ $json.htmlLink }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        352
      ],
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "274a91fb-cf32-4384-9ed8-f1a496c4900b",
              "name": "message",
              "value": "the entier day is avalibale",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        448
      ],
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": false,
  "projectId": "AbL0oEXcD3fRF7GZ",
  "projectName": "Personal",
  "homeProject": {
    "id": "AbL0oEXcD3fRF7GZ",
    "name": "Personal",
    "type": "personal"
  },
  "isArchived": false
}