workflows/local_5679_kali_a/personal/Enrich - HubSpot - CRM Contact Intelligence.json
{
  "id": "ekSycbTFGIRFk0YE",
  "name": "Enrich - HubSpot - CRM Contact Intelligence",
  "nodes": [
    {
      "parameters": {
        "content": "Purpose:\nEnriches CRM contacts and syncs enrichment state between HubSpot and sheets.\n\nTrigger:\nSchedule Trigger.\n\nProcess Summary:\n- Load contacts requiring enrichment.\n- Generate enrichment fields using AI logic.\n- Create/update contact in HubSpot.\n- Write enrichment status back to sheets.\n\nOutput:\nUpdated HubSpot contacts and synced sheet enrichment status.\n\nOwner:\nRevenue Operations",
        "height": 380,
        "width": 620,
        "color": 7
      },
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1148,
        -496
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        0
      ],
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw",
          "mode": "list",
          "cachedResultName": "Indeed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 391272503,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit#gid=391272503"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "DDone"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -304,
        0
      ],
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNLavzV8rZPPc9vz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $json.output.hubspot_contact.email }}",
        "additionalFields": {
          "city": "={{ $json.output.hubspot_company.city }}",
          "companyName": "={{ $json.output.hubspot_company.name }}",
          "industry": "={{ $json.output.hubspot_company.industry }}",
          "jobFunction": "={{ $('Loop Over Items').item.json['Looking for'] }}",
          "message": "={{\n  ($json.output.country_pain_points.pain_points || [])\n    .filter(p => p.problem && p.impact && p.why_it_matters_for_outreach)\n    .map(p => \n      `Problem: ${p.problem.trim()}\\nImpact: ${p.impact.trim()}\\nOutreach Relevance: ${p.why_it_matters_for_outreach.trim()}`\n    )\n    .join(\"\\n\\n\")\n}}\n",
          "persona": "={{ $('Loop Over Items').item.json.Description }}",
          "phoneNumber": "=",
          "relationshipStatus": "indeed",
          "websiteUrl": "={{ $('Loop Over Items').item.json.Website }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        2016,
        -16
      ],
      "name": "Create or update a contact",
      "alwaysOutputData": true,
      "credentials": {
        "hubspotAppToken": {
          "id": "xWaFdFbDwkCGPkKk",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I will provide:  \n- Stored variables from my system  \n- A raw company record  \n\nYour task:  \n1. Validate the data strictly:\n   - If email is missing or invalid, set `\"hubspot_contact.email\": \"\"` and `\"is_valid\": false`.\n   - If website is missing or invalid, set `\"hubspot_company.website\": \"\"` and `\"is_valid\": false`.\n2. Normalize the data for HubSpot upsert:\n   - Ensure company name, domain, industry, country, city, and description are strings.\n   - Ensure role_or_need is a string.\n3. Return strictly valid JSON following the schema below. Do not deviate.\n4. Generate 1–3 B2B pain points strictly based on the company’s COUNTRY and INDUSTRY. Must be actionable in cold email outreach.\n5. Ensure the output is safe for HubSpot API ingestion.\n6. Return empty strings for any missing optional fields (except those required for validation).\n\nStored variables:  \n- company_name: {{ $json['Company Name'] }}  \n- role_or_need: {{ $json['Role / Looking For'] }}  \n- email: {{ $json.Email }}  \n- industry: {{ $json.Industry }}  \n- location: {{ $json.Location }}  \n- description: {{ $json.Description }}  \n- looking_for: {{ $json['Looking for'] }}  \n- website: {{ $json.Website }}  \n\nJSON SCHEMA (STRICT — DO NOT DEVIATE):\n\n{\n  \"is_valid\": boolean,\n  \"validation_errors\": [string],\n\n  \"hubspot_company\": {\n    \"name\": string,\n    \"domain\": string,\n    \"website\": string,\n    \"industry\": string,\n    \"country\": string,\n    \"city\": string,\n    \"description\": string\n  },\n\n  \"hubspot_contact\": {\n    \"email\": string,\n    \"role_or_need\": string\n  },\n\n  \"enrichment\": {\n    \"normalized_industry\": string,\n    \"company_size_estimate\": string | null,\n    \"b2b_or_b2c\": \"B2B\" | \"B2C\" | \"Both\" | null\n  },\n\n  \"country_pain_points\": {\n    \"country\": string,\n    \"pain_points\": [\n      {\n        \"problem\": string,\n        \"impact\": string,\n        \"why_it_matters_for_outreach\": string\n      }\n    ]\n  }\n}\n\nRULES:\n- JSON only, no trailing commas.\n- Do not invent facts; only normalize and validate provided data.\n- Pain points must be country-specific and actionable in cold email messaging.\n- If email or website is missing/invalid, set `\"is_valid\": false` and the field to `\"\"`.\n- Ensure safe ingestion into HubSpot API.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a data validation and normalization engine for HubSpot CRM.\n\nYour task:\n- Validate, clean, enrich, and normalize company data.\n- Output MUST be valid JSON only (no text, no markdown, no comments).\n- Output MUST strictly follow the provided JSON schema.\n- All fields must be API-safe for HubSpot (strings, arrays, booleans only).\n- Infer missing fields only when high confidence exists; otherwise return null.\n- Normalize locations to ISO country names.\n- Normalize industries to HubSpot-compatible categories.\n- Ensure emails, domains, and URLs are valid formats.\n- Remove duplicated, merged, or malformed text.\n- Generate country-specific business pain points suitable for B2B outreach.\n- Do NOT hallucinate company-specific facts.\n- If data is invalid or insufficient, mark `is_valid=false` and explain why.\n\nReturn reliable, deterministic, and reusable data.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1232,
        0
      ],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1280,
        208
      ],
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "model": "pixtral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1168,
        416
      ],
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "ULrl5qHqTv9VVZF9",
          "name": "Mistral Cloud monaimkali59"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"is_valid\": true,\n  \"validation_errors\": [],\n\n  \"hubspot_company\": {\n    \"name\": \"Example Corp\",\n    \"domain\": \"example.com\",\n    \"website\": \"https://www.example.com\",\n    \"industry\": \"Software\",\n    \"country\": \"United States\",\n    \"city\": \"San Francisco\",\n    \"description\": \"B2B SaaS provider\"\n  },\n\n  \"hubspot_contact\": {\n    \"email\": \"contact@example.com\",\n    \"role_or_need\": \"Marketing automation\"\n  },\n\n  \"enrichment\": {\n    \"normalized_industry\": \"Software\",\n    \"company_size_estimate\": null,\n    \"b2b_or_b2c\": \"B2B\"\n  },\n\n  \"country_pain_points\": {\n    \"country\": \"United States\",\n    \"pain_points\": [\n      {\n        \"problem\": \"High customer acquisition costs\",\n        \"impact\": \"Reduced marketing efficiency\",\n        \"why_it_matters_for_outreach\": \"Value proposition must emphasize ROI\"\n      }\n    ]\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1424,
        416
      ],
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        0
      ],
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef8f9787-8ec4-48e5-a2d5-75a79eef33c9",
              "leftValue": "={{ $json.output.hubspot_contact.email }}",
              "rightValue": "=Email is missing",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1584,
        0
      ],
      "name": "If"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw",
          "mode": "list",
          "cachedResultName": "Indeed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 391272503,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8QEmJifr6yzIEtDDGjartp0EY-lt8So8h0K_L2TKw/edit#gid=391272503"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $('Loop Over Items').item.json[\"Company Name\"] }}",
            "hubspot": "yes"
          },
          "matchingColumns": [
            "Company Name"
          ],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Role / Looking For",
              "displayName": "Role / Looking For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Looking for",
              "displayName": "Looking for",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone numbre ",
              "displayName": "phone numbre ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hubspot",
              "displayName": "hubspot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2160,
        -16
      ],
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNLavzV8rZPPc9vz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -96
      ],
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1734a2c7-9568-4dc2-98b7-dbaac0522a85",
              "leftValue": "={{$node[\"Code in JavaScript\"].json[\"Email\"] }} }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        -96
      ],
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const phoneRaw = item.json['phone numbre '];\n\n  if (phoneRaw === undefined || phoneRaw === null) {\n    return item;\n  }\n\n  const phone = String(phoneRaw).trim();\n\n  item.json['phone numbre '] = phone.startsWith('+')\n    ? phone\n    : '+' + phone;\n\n  return item;\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -96
      ],
      "name": "Code in JavaScript1"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a contact": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": false,
  "projectId": "AbL0oEXcD3fRF7GZ",
  "projectName": "Personal",
  "homeProject": {
    "id": "AbL0oEXcD3fRF7GZ",
    "name": "Personal",
    "type": "personal"
  },
  "isArchived": false
}