workflows/local_5679_kali_a/personal/Generate - Multi-Channel Social - Daily Content Package.json
{
  "id": "HGXncmcvIqSoH5qf",
  "name": "Generate - Multi-Channel Social - Daily Content Package",
  "nodes": [
    {
      "parameters": {
        "content": "Purpose:\nGenerates daily social content variants and related creative assets.\n\nTrigger:\nSchedule Trigger.\n\nProcess Summary:\n- Collect inputs and reference assets.\n- Generate channel-specific copy with AI agents.\n- Create/transform visuals for posting contexts.\n- Produce final per-channel content outputs.\n\nOutput:\nDaily social content package for multiple platforms.\n\nOwner:\nSocial Media Team",
        "height": 380,
        "width": 620,
        "color": 7
      },
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1308,
        -960
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "name": "Trigger: Run Daily Script Generator",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -608,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "nH2AHrwxeTRJoN5hX",
          "mode": "id"
        },
        "customBody": "{\n    \"resultsLimit\": 24,\n    \"skipPinnedPosts\": false,\n    \"username\": [\n        \"https://www.instagram.com/p/DTVPI84EyDF/\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -384,
        480
      ],
      "name": "Run an Actor and get dataset1",
      "credentials": {
        "apifyApi": {
          "id": "a4K7subUSjkdQOdA",
          "name": "Apify account monaimabdel119"
        }
      }
    },
    {
      "parameters": {
        "content": "## {\n    \"includeAboutSection\": false,\n    \"usernames\": [\n        \"@thetestingacademy\",\n        \"@fundootesters\",\n        \"@level_up_qa_\",\n        \"@eduashthal\",\n        \"@beeautomation\",\n        \"@network_tom\"\n    ]\n}\n",
        "height": 432,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -560
      ],
      "typeVersion": 1,
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b1bdd1c-c7ee-4448-9231-bd19b16961b2",
              "name": "caption",
              "value": "={{$input.first().json.caption}}",
              "type": "string"
            },
            {
              "id": "903826d1-f856-43d3-bd12-bbb49b6cee3c",
              "name": "url",
              "value": "={{ $input.first().json.inputUrl}} ",
              "type": "string"
            },
            {
              "id": "99d795cb-fea3-49f0-9322-dcefd89f8a9b",
              "name": "image",
              "value": "={{$input.first().json.images.filter(url => url.startsWith('https')).join(\",\")}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        480
      ],
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "You are a smart data extraction assistant. \nYour job is to analyze the content of images provided as URLs and extract structured data from them. \n\nInstructions:\n1. Each image URL should be processed individually.\n2. Extract all meaningful information, such as text, numbers, tables, captions, hashtags, or any labels present.\n3. Return each image as a separate object with the following fields:\n   - \"image_url\": the URL of the image\n   - \"text\": any text detected in the image\n   - \"numbers\": any numerical values\n   - \"labels\": any key tags or categories\n   - \"tables\": any table data in JSON format, if present\n4. If a field is empty, set it as an empty string or empty array.\n5. Always return a valid JSON array with each image’s extracted data as an object.\n6. Do not summarize; give raw extracted content as separate values.\n\nAlways respond only with JSON, no extra text.\nWhat's in this image?",
        "imageUrls": "={{ $json.image }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        64,
        480
      ],
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "fHuRIUfWhTLD8E47",
          "name": "Google Gemini(PaLM) Api monamabdel119"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content.parts[0].text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a strict data extraction and normalization engine.\n\nYour task is to:\n1. Read all visible text from the provided image(s).\n2. Remove all non-semantic elements such as:\n   - UI labels\n   - page numbers\n   - watermarks\n   - source attributions\n   - tool names\n   - repeated headers or footers\n3. Preserve the original order of meaningful content.\n4. Do NOT summarize, explain, teach, or rephrase anything.\n5. Do NOT add new information.\n\nThen:\n6. From the cleaned text, extract exactly ONE neutral, factual core idea expressed as a single sentence.\n   - No advice\n   - No persuasion\n   - No instruction\n   - No questions\n   - No emotional or motivational language\n\nOutput ONLY valid JSON in this exact structure:\n\n{\n  \"text\": \"cleaned semantic text as a single string\",\n  \"core_idea\": \"one neutral factual sentence\"\n}\n\nNo markdown.\nNo explanations.\nNo commentary.\nNo extra fields.\nNo formatting outside JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        480
      ],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        368,
        704
      ],
      "name": "Auto-fixing Output Parser1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "  {\n    \"text\": \"string\"\n  }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        480,
        912
      ],
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        304,
        912
      ],
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "ULrl5qHqTv9VVZF9",
          "name": "Mistral Cloud monaimkali59"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d51c5e18-0bcc-4dbe-8cb8-71c13236d080",
              "name": "Text",
              "value": "={{ $json.output.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        480
      ],
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INPUT:\n{{ $json.Text }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Given the core idea, decide the minimal number of units needed to express it without explanation.\nReturn: unit_count and unit_roles.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        960,
        480
      ],
      "name": "AI Agent1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1040,
        704
      ],
      "name": "Think"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1168,
        704
      ],
      "name": "Auto-fixing Output Parser2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"decision\": {\n    \"core_idea\": \"A single untested API can cause system failure.\",\n    \"slides_needed\": 2,\n    \"reason\": \"The idea contains two factual components: the existence of risk and its system-wide effect.\"\n  },\n  \"design_rules\": {\n    \"platform\": \"Instagram\",\n    \"format\": \"1:1 square\",\n    \"style\": \"Minimalist, high contrast, educational authority\",\n    \"typography\": {\n      \"font_type\": \"Bold sans-serif\",\n      \"hierarchy\": [\"Title dominant\", \"Body secondary\"]\n    },\n    \"text_density\": \"Low\",\n    \"reading_time\": \"Under 2 seconds per slide\",\n    \"restrictions\": [\n      \"No emojis\",\n      \"No icons\",\n      \"No decorative text\",\n      \"No additional explanations\"\n    ]\n  },\n  \"slides\": [\n    {\n      \"slide\": 1,\n      \"role\": \"Statement of risk\",\n      \"characteristic\": \"Defines the existence of a single-point failure\",\n      \"content\": {\n        \"title\": \"UNTESTED API\",\n        \"text\": \"Is a single point of failure.\"\n      },\n      \"visual_directives\": {\n        \"visual_goal\": \"Focus attention on the concept of a single weak point\",\n        \"layout\": \"Centered title with smaller supporting text below\",\n        \"text_weight\": \"Title heavy, body light\",\n        \"emphasis\": [\"UNTESTED API\"],\n        \"background_style\": \"Plain neutral background\",\n        \"contrast_level\": \"High\"\n      }\n    },\n    {\n      \"slide\": 2,\n      \"role\": \"System impact\",\n      \"characteristic\": \"Shows the consequence without urgency or instruction\",\n      \"content\": {\n        \"title\": \"SYSTEM FAILURE\",\n        \"text\": \"Can originate from one weak component.\"\n      },\n      \"visual_directives\": {\n        \"visual_goal\": \"Link component weakness to system-level effect\",\n        \"layout\": \"Centered vertical stack\",\n        \"text_weight\": \"Balanced\",\n        \"emphasis\": [\"SYSTEM FAILURE\"],\n        \"background_style\": \"Plain neutral background\",\n        \"contrast_level\": \"High\"\n      }\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1264,
        912
      ],
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        976,
        912
      ],
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "ULrl5qHqTv9VVZF9",
          "name": "Mistral Cloud monaimkali59"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -608,
        -560
      ],
      "name": "Edit Image1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=input:\n{{ JSON.stringify($json.output) }}\nRewrite the core_idea as a concise, technical statement for Twitter.\n\nRules:\n- Max 240 characters\n- Declarative, not a question\n- Slightly contrarian or reframing if possible\n- No emojis\n- No hashtags\n- No CTA\n- No marketing language\n\nOutput JSON:\n{ \"tweet\": \"string\" }\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1536,
        -240
      ],
      "name": "twitter"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1552,
        -16
      ],
      "name": "Mistral Cloud Chat Model3",
      "credentials": {
        "mistralCloudApi": {
          "id": "ULrl5qHqTv9VVZF9",
          "name": "Mistral Cloud monaimkali59"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rewrite the core_idea as a short professional insight for senior engineers and decision-makers.\n\nRules:\n- Calm, authoritative tone\n- No hype\n- No emojis\n- No hashtags\n- No questions\n- No CTA\n- 3–5 lines max\n- Declarative\n\nAppend one soft professional CTA:\n\nExamples:\n- \"Built for production systems.\"\n- \"Useful for system architects.\"\n- \"Used in enterprise environments.\"\n\nOutput JSON:\n{ \"post\": \"string\" }\n\n\nOutput JSON:\n{ \"post\": \"string\" }\n\n{{ JSON.stringify($json.output) }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1536,
        272
      ],
      "name": "Linkedin"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Split the idea into N minimal declarative slides. No storytelling. No persuasion. No teaching language.\n{{ JSON.stringify($json.output) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1536,
        1088
      ],
      "name": "Instagram"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Convert this slide text into a minimal, high-contrast Instagram slide design description. Do not alter text.\n{{ $json.output }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1904,
        880
      ],
      "name": "AI Agent5"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1904,
        1312
      ],
      "name": "Mistral Cloud Chat Model4",
      "credentials": {
        "mistralCloudApi": {
          "id": "ULrl5qHqTv9VVZF9",
          "name": "Mistral Cloud monaimkali59"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate one narration line per slide using only the slide text. Calm, neutral, professional.\n{{ JSON.stringify($json.output) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2336,
        1088
      ],
      "name": "AI Agent6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1968,
        1104
      ],
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"slides\": \"\"\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2080,
        1312
      ],
      "name": "Structured Output Parser7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write one technical Instagram caption as a senior engineer. Declarative, precise, no hype. Use fixed hashtags.\n{{ JSON.stringify($('AI Agent5').item.json.output) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2688,
        1088
      ],
      "name": "AI Agent7"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2768,
        1312
      ],
      "name": "Mistral Cloud Chat Model5",
      "credentials": {
        "mistralCloudApi": {
          "id": "ULrl5qHqTv9VVZF9",
          "name": "Mistral Cloud monaimkali59"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"tweet\": \"California\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1680,
        -16
      ],
      "name": "Structured Output Parser8"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1904,
        96
      ],
      "name": "Mistral Cloud Chat Model6",
      "credentials": {
        "mistralCloudApi": {
          "id": "ULrl5qHqTv9VVZF9",
          "name": "Mistral Cloud monaimkali59"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rewrite the core_idea as a short professional insight for senior engineers and decision-makers.\n\nRules:\n- Calm, authoritative tone\n- No hype\n- No emojis\n- No hashtags\n- No questions\n- No CTA\n- 3–5 lines max\n- Declarative\n\nOutput JSON:\n{ \"post\": \"string\" }\n{{ JSON.stringify($('AI Agent1').item.json.output) }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1952,
        272
      ],
      "name": "AI Agent8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=input:\n{{ JSON.stringify($json.output) }}\nExpand the tweet into a 3-part thread:\n1) reframing statement\n2) technical clarification\n3) practical implication\n\nNo emojis, no hashtags, no CTA.\n\nOutput JSON:\n{ \"thread\": [\"...\", \"...\", \"...\"] }\ng\" }\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1904,
        -336
      ],
      "name": "thread"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1968,
        -112
      ],
      "name": "Auto-fixing Output Parser8"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"thread\": \"\"\n\t\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2080,
        96
      ],
      "name": "Structured Output Parser9"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1552,
        704
      ],
      "name": "Mistral Cloud Chat Model7",
      "credentials": {
        "mistralCloudApi": {
          "id": "ULrl5qHqTv9VVZF9",
          "name": "Mistral Cloud monaimkali59"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1536,
        496
      ],
      "name": "Auto-fixing Output Parser9"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"post\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1680,
        704
      ],
      "name": "Structured Output Parser10"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1936,
        496
      ],
      "name": "Auto-fixing Output Parser10"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"post\": \"\"\n\t\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2016,
        704
      ],
      "name": "Structured Output Parser11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        3216,
        1296
      ],
      "name": "Auto-fixing Output Parser11"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Music Name\": \"\"\n}\n\t"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3360,
        1504
      ],
      "name": "Structured Output Parser12"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## BACKGROUND MUSIC SUGGESTION PROMPT (FOR HEYGEN VIDEO)\n\n### Context\nYou are generating an **educational, minimalist, enterprise-level video** using HeyGen.  \nThe video pacing, visuals, and narration are defined in the following prompt:\n{{ $('Instagram').item.json.output }}\nThe background music must **support** this video without distracting from narration or visuals.\n\n---\n\n### Music Objective\nSelect background music that:\n- Enhances focus and credibility\n- Creates subtle internal tension\n- Signals professionalism and technical authority\n- Increases viewer retention without emotional manipulation\n\n---\n\n### Recommended Music Style\n- **Genre:** Minimal ambient / tech underscore\n- **Mood:** Calm, serious, analytical\n- **Energy:** Low and stable\n- **Complexity:** Very simple, non-melodic\n\n---\n\n### Tempo & Structure\n- **Tempo:** Slow (60–75 BPM)\n- **Rhythm:** Soft pulse or continuous pad\n- **Dynamics:** Flat (no rises, drops, or transitions synced to scenes)\n\n---\n\n### Instrumentation Rules\n- Ambient pads\n- Light synthetic textures\n- Very subtle low-frequency layer\n\n**Do NOT use:**\n- Vocals\n- Piano, guitar, or strings\n- Percussion or beats\n- Melodic hooks\n\n---\n\n### Emotional Effect on Viewer\n- Feels controlled and intelligent\n- Creates quiet tension\n- Suggests importance and precision\n- Keeps attention inward and focused\n\n---\n\n### Volume & Mixing\n- Background music volume: **very low**\n- Voiceover must always dominate\n- Music should be felt subconsciously, not consciously noticed\n\n---\n\n### Timing\n- Fade in during first 0.5–1 second of the video\n- Play continuously across all scenes\n- Fade out smoothly at the end\n- No changes between slides\n\n---\n\n### HeyGen Category Guidance (if applicable)\nPrefer categories such as:\n- Ambient\n- Technology\n- Corporate Minimal\n- Subtle Background\n\nAvoid categories such as:\n- Inspirational\n- Energetic\n- Pop\n- EDM\n- Cinematic (dramatic)\n\n---\n\n### Final Constraint\nThe music must never:\n- Compete with narration\n- Add emotion stronger than the content\n- Draw attention to itself\n\nIts role is to **connect the viewer emotionally to the video’s seriousness**, not to entertain.\n\n\n### Expected Output Format\n<Music Name>\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3040,
        1088
      ],
      "name": "music"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a prompt engineering assistant.\n\nYour task is to generate a high-quality prompt that will be used to create a LinkedIn post.\n\nInput you will receive:\n{{ JSON.stringify($('AI Agent1').item.json.output.decision) }}\nannouncement, case study, image description, etc.)\n\nYour task:\n- Generate a single prompt that instructs an AI to write a LinkedIn post based on those inputs.\n\nRules for the generated prompt:\n- It must be clear, concise, and operational.\n- It must specify tone, audience, length, and formatting constraints.\n- It must forbid emojis, hashtags, hype, and marketing language unless explicitly allowed by the goal.\n- It must specify whether to include or exclude a call to action based on the goal.\n\nOutput only the generated prompt text.\nNo commentary.\nNo markdown.\nNo explanation.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2224,
        272
      ],
      "name": "imagelinkedin"
    }
  ],
  "connections": {
    "Trigger: Run Daily Script Generator": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "twitter",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Linkedin",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Instagram",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent6",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "AI Agent6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser7": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent6": {
      "main": [
        [
          {
            "node": "AI Agent7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "music",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser11",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser8": {
      "ai_outputParser": [
        [
          {
            "node": "twitter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "thread",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser8",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "twitter": {
      "main": [
        [
          {
            "node": "thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin": {
      "main": [
        [
          {
            "node": "AI Agent8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser8": {
      "ai_outputParser": [
        [
          {
            "node": "thread",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser9": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser8",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent8",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser9",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser10",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "imagelinkedin",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser9": {
      "ai_outputParser": [
        [
          {
            "node": "Linkedin",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser10": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser9",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser10": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent8",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser11": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser10",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent7": {
      "main": [
        [
          {
            "node": "music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser11": {
      "ai_outputParser": [
        [
          {
            "node": "music",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser12": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser11",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent8": {
      "main": [
        [
          {
            "node": "imagelinkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": false,
  "projectId": "AbL0oEXcD3fRF7GZ",
  "projectName": "Personal",
  "homeProject": {
    "id": "AbL0oEXcD3fRF7GZ",
    "name": "Personal",
    "type": "personal"
  },
  "isArchived": false
}