workflows/local_5679_kali_a/personal/Lookup - CRM - Appointment by Email.json
{
  "id": "HDobEcIFHIAoRoJi",
  "name": "Lookup - CRM - Appointment by Email",
  "nodes": [
    {
      "parameters": {
        "content": "Purpose:\nReturns appointment details for an existing client record by email lookup.\n\nTrigger:\nExecute Workflow Trigger (called by booking assistant workflow).\n\nProcess Summary:\n- Receive email input from parent workflow.\n- Search appointment rows in Google Sheets.\n- Validate match conditions.\n- Return normalized appointment fields.\n\nOutput:\nStructured appointment data returned to calling workflow.\n\nOwner:\nSales Operations",
        "height": 380,
        "width": 620,
        "color": 7
      },
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -428,
        -48
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "email"
            }
          ]
        }
      },
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lYI7nzdRwOsjfz8AyPGHqP5u-aQV142DeNBuMFbdTL8",
          "mode": "list",
          "cachedResultName": "CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lYI7nzdRwOsjfz8AyPGHqP5u-aQV142DeNBuMFbdTL8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1468495487,
          "mode": "list",
          "cachedResultName": "Appointment Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lYI7nzdRwOsjfz8AyPGHqP5u-aQV142DeNBuMFbdTL8/edit#gid=1468495487"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        352
      ],
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNLavzV8rZPPc9vz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fcc08642-dc55-437c-b745-942688a86a77",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        352
      ],
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29899c8e-ba17-4ef5-8c3a-650cd5c86d22",
              "name": "",
              "value": "to that client no appointment booked",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        480
      ],
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": false,
  "projectId": "AbL0oEXcD3fRF7GZ",
  "projectName": "Personal",
  "homeProject": {
    "id": "AbL0oEXcD3fRF7GZ",
    "name": "Personal",
    "type": "personal"
  },
  "isArchived": false
}