workflows/local_5679_kali_a/personal/Qualify - RetellAI - Leads via Call Outcomes.json
{
  "id": "vhoLkUKG5jtTFmFA",
  "name": "Qualify - RetellAI - Leads via Call Outcomes",
  "nodes": [
    {
      "parameters": {
        "content": "Purpose:\nHandles outbound call qualification events and post-call follow-up actions.\n\nTrigger:\nWebhook from RetellAI post-call callbacks.\n\nProcess Summary:\n- Receive analyzed call payload.\n- Filter for qualifying call scenarios.\n- Update lead sheet and send follow-up messages.\n- Send internal summary notifications.\n\nOutput:\nUpdated lead status and outbound email/SMS notifications.\n\nOwner:\nSales Team",
        "height": 380,
        "width": 620,
        "color": 7
      },
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2028,
        -560
      ]
    },
    {
      "parameters": {
        "content": "# Outbound lead qualification call workflow",
        "height": 320,
        "width": 1260
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1328,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Post-call workflow\n## Triggers when a new lead is added in Google Sheets:\n\n### 1 -Sends SMS to remind rep to call in 5 min\n### 2- (Optional delay step)\n### 3- Triggers RetellAI to place an automated call to the lead\n\n## 💡 Requires phone numbers to be formatted in E.164",
        "height": 1100,
        "width": 1400,
        "color": 4
      },
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "call",
        "from": "+15707554501",
        "to": "=+15707554501",
        "message": "Hello, thanks for your interest in our roofing services. We'll be calling you shortly to ask about your project!",
        "options": {}
      },
      "name": "Send SMS reminder to call lead in 5 minutes",
      "type": "n8n-nodes-base.twilio",
      "position": [
        -864,
        368
      ],
      "typeVersion": 1,
      "credentials": {
        "twilioApi": {
          "id": "WdMiVpP6NJdp6V0z",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "name": "Wait 5 minutes before making call",
      "type": "n8n-nodes-base.wait",
      "position": [
        -624,
        368
      ],
      "webhookId": "344c2d5d-5629-4466-866b-ac6359b3b042",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://api.vapi.ai/assistant",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "name": "Call new lead using RetellAI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -336,
        368
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "VCLQlFFhywaV7Alc",
          "name": "Bearer Auth account"
        },
        "httpHeaderAuth": {
          "id": "D1jQ9xm4rxGQmkF4",
          "name": "Vapi"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f8878b78-43ea-4caa-b16c-cde9aaf2e9b1",
        "options": {}
      },
      "name": "Receive post-call data from RetellAI (webhook)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        96,
        352
      ],
      "webhookId": "f8878b78-43ea-4caa-b16c-cde9aaf2e9b1",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a0e40476-0054-43ec-b7a7-e872d1c6061a",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "call_analyzed"
            }
          ]
        },
        "options": {}
      },
      "name": "Filter for analyzed calls only",
      "type": "n8n-nodes-base.filter",
      "position": [
        320,
        352
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "46590184-4e33-48fd-a9f4-c63b13f88c1f",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body.call.direction }}",
              "rightValue": "outbound"
            }
          ]
        },
        "options": {}
      },
      "name": "Check if call was outbound",
      "type": "n8n-nodes-base.if",
      "position": [
        544,
        352
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "columns": {
          "value": {
            "UUID": "={{ $json.body.call.retell_llm_dynamic_variables.uuid }}",
            "Qualification": "={{ $json.body.call.call_analysis.custom_analysis_data.qualification }}"
          },
          "schema": [
            {
              "id": "UUID",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "UUID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Phone Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Datetime Called",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Datetime Called",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Qualification",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Qualification",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "UUID"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Update lead record in Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        784,
        224
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNLavzV8rZPPc9vz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "youremail@gmail.com",
        "subject": "=New Lead - Call Summary",
        "emailType": "text",
        "message": "=Name:\n{{ $json.body.call.call_analysis.custom_analysis_data.first_name }}\n\nNumber:\n{{ $json.body.call.call_analysis.custom_analysis_data.phone_number }}\n\nQualification:\n{{ $json.body.call.call_analysis.custom_analysis_data.qualification }}\n\n\nCall Summary:\n{{ $json.body.call.call_analysis.custom_analysis_data.call_summary }}",
        "options": {}
      },
      "name": "Send call summary email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1136,
        224
      ],
      "webhookId": "806ec3f9-8bcb-48ef-8e22-9d1ce3b06bf0",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "AUvfU2dkZPo9RTm6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "youremail@gmail.com",
        "subject": "=Roofing Appointment Scheduled",
        "emailType": "text",
        "message": "=New roofing appointment:\n\nClient Name:\n{{ $('Check if call was outbound').item.json.body.call.call_analysis.custom_analysis_data.first_name }}\n\nClient Number:\n{{ $('Check if call was outbound').item.json.body.call.call_analysis.custom_analysis_data.phone_number }}\n\nAvailabilities:\n{{ $('Check if call was outbound').item.json.body.call.call_analysis.custom_analysis_data.availabilities }}\n\n\nCall Summary:\n{{ $('Check if call was outbound').item.json.body.call.call_analysis.call_summary }}\n\n\nChatGPT analysis of how the call went and suggestions for improving the voice prompt:\n{{ $json.message.content }}",
        "options": {}
      },
      "name": "Send confirmation email to lead",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1136,
        448
      ],
      "webhookId": "453fe9d9-1de6-40a2-bd0c-88cb9c1cc7ef",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "AUvfU2dkZPo9RTm6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze this call transcript to identify how the call went and identify possible improvements to the voice prompt:\n\n{{ $json.body.call.transcript }}"
            }
          ]
        },
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        752,
        448
      ],
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "vaZCwRniesT7CJEy",
          "name": "Google Gemini(PaLM) Api Monaimkali59"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lBIXndnl2VLf1QC1cvLHdJSRqEqWLiEZS610L9PSs_E",
          "mode": "list",
          "cachedResultName": "Lead qualification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBIXndnl2VLf1QC1cvLHdJSRqEqWLiEZS610L9PSs_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 545137450,
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBIXndnl2VLf1QC1cvLHdJSRqEqWLiEZS610L9PSs_E/edit#gid=545137450"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1088,
        368
      ],
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNLavzV8rZPPc9vz",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Check if call was outbound": {
      "main": [
        [
          {
            "node": "Update lead record in Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for analyzed calls only": {
      "main": [
        [
          {
            "node": "Check if call was outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 minutes before making call": {
      "main": [
        [
          {
            "node": "Call new lead using RetellAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update lead record in Google Sheets": {
      "main": [
        [
          {
            "node": "Send call summary email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS reminder to call lead in 5 minutes": {
      "main": [
        [
          {
            "node": "Wait 5 minutes before making call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive post-call data from RetellAI (webhook)": {
      "main": [
        [
          {
            "node": "Filter for analyzed calls only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send confirmation email to lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send SMS reminder to call lead in 5 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": false,
  "projectId": "AbL0oEXcD3fRF7GZ",
  "projectName": "Personal",
  "homeProject": {
    "id": "AbL0oEXcD3fRF7GZ",
    "name": "Personal",
    "type": "personal"
  },
  "isArchived": false
}