workflows/local_5679_kali_a/personal/Research - Company News - Pre-Call Briefing Email.json
{
  "id": "Jb5yKJeKK4l4Ynz1",
  "name": "Research - Company News - Pre-Call Briefing Email",
  "nodes": [
    {
      "parameters": {
        "content": "Purpose:\nBuilds daily pre-call company news briefs for upcoming meetings.\n\nTrigger:\nSchedule Trigger (daily morning run).\n\nProcess Summary:\n- Load today meetings from calendar.\n- Extract target company names.\n- Fetch latest company news via HTTP.\n- Format and send briefing email.\n\nOutput:\nEmail briefing with meeting-specific company news context.\n\nOwner:\nSales Team",
        "height": 380,
        "width": 620,
        "color": 7
      },
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -332,
        -160
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apiKey",
              "stringValue": "32aa914c947342169c4998b6701a77e0"
            },
            {
              "name": "newsAge",
              "type": "numberValue",
              "numberValue": "10"
            },
            {
              "name": "maxArticles",
              "stringValue": "20"
            },
            {
              "name": "emails"
            }
          ]
        },
        "options": {}
      },
      "name": "Setup",
      "type": "n8n-nodes-base.set",
      "position": [
        592,
        608
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "companyName",
              "stringValue": "={{ $json.summary.toLowerCase().replace('meeting with', '').replace('call with', '').trim() }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract company name",
      "type": "n8n-nodes-base.set",
      "position": [
        1280,
        400
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "### Latest company news before a call\n\nThis workflow will send you a list of latest news about a company for every meeting in your calendar each day, keeping you up to date with your leads and meeting partners.\n",
        "height": 192,
        "width": 436,
        "color": 4
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "name": "Every morning @ 7",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        368,
        608
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "bcfb06b1-d365-43a8-9802-869529baca98",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $json.summary.toLowerCase() }}",
              "rightValue": "call with"
            },
            {
              "id": "4ea43ccf-d586-4985-87db-fc1e9f734351",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $json.summary.toLowerCase() }}",
              "rightValue": "meeting with"
            }
          ]
        },
        "options": {}
      },
      "name": "Filter meetings",
      "type": "n8n-nodes-base.if",
      "position": [
        1008,
        608
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/everything?apiKey={{ $('Setup').first().json.apiKey }}&q={{ $json.companyName }}&from={{ DateTime.now().minus({ days: $('Setup').first().json.newsAge }).toFormat('yyyy-MM-dd') }}&sortBy=publishedAt&language=en&pageSize={{ $('Setup').first().json.maxArticles }}&searchIn=title",
        "options": {}
      },
      "name": "Get latest news",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1472,
        400
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let html = `<table style=\"width: 100%\">`;\nhtml += '</table>';\n\nfor(article of $input.item.json.articles) {\n  console.log(article)\n  html += `\n    <tr>\n      <td style=\"display: flex; background-color: #f2f4f8; font-family: sans-serif; padding: 0.3em 0.5em\">\n        <div style=\"padding: 1em\">\n          <a style=\"display: block; margin-bottom: 10px; font-size: 1.2em\" href=\"${article.url}\">${article.title}</a>\n          <i>\n            ${article.description ? article.description : article.content}\n          </i>\n          <div style=\"margin-top: 1em\">\n            ${ article.source?.name ? '<b>Source:</b> ' + article.source?.name : '' }\n          </div>\n        </div>\n      </td>\n    </tr>\n  `\n}\nreturn { \"html\": html };"
      },
      "name": "Format for email",
      "type": "n8n-nodes-base.code",
      "position": [
        1680,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "sendTo": "={{ $('Setup').first().json.emails }}",
        "subject": "=Latest news for '{{ $('Extract company name').item.json.summary }}'",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "name": "Send news",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1872,
        400
      ],
      "typeVersion": 2.1,
      "webhookId": "ad473b56-0936-4556-b5ad-c9f6cd94018b",
      "credentials": {
        "gmailOAuth2": {
          "id": "idt1ZApjBzngodub",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Configure your workflow here\n1. `apiKey` - Your API key for [News API](https://newsapi.org)\n2. `newsAge` - How old should news be, in days\n3. `maxArticles` - Number of articles that will be sent, max 100\n4. `emails`- List of email addresses that should receive the news, separated by commas",
        "height": 511.499984507795
      },
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\nThis will get all meetings that start with *Meeting with* or *Call with* but feel free to update the filter to suit your needs.",
        "height": 275.2500697149263,
        "width": 231.52514020446353
      },
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "name": "No meetings today",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1872,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "user@example.com",
          "cachedResultName": "user@example.com"
        },
        "options": {
          "timeMin": "={{ $today }}",
          "timeMax": "={{ $today.plus({ days: 1 }) }}",
          "singleEvents": true
        }
      },
      "name": "Get meetings for today",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        832,
        608
      ],
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VKN4iKaYeVnuiPgC",
          "name": "Google Calendar account 2"
        }
      }
    }
  ],
  "connections": {
    "Setup": {
      "main": [
        [
          {
            "node": "Get meetings for today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter meetings": {
      "main": [
        [
          {
            "node": "Extract company name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No meetings today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get latest news": {
      "main": [
        [
          {
            "node": "Format for email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for email": {
      "main": [
        [
          {
            "node": "Send news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every morning @ 7": {
      "main": [
        [
          {
            "node": "Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract company name": {
      "main": [
        [
          {
            "node": "Get latest news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get meetings for today": {
      "main": [
        [
          {
            "node": "Filter meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": false,
  "projectId": "AbL0oEXcD3fRF7GZ",
  "projectName": "Personal",
  "homeProject": {
    "id": "AbL0oEXcD3fRF7GZ",
    "name": "Personal",
    "type": "personal"
  },
  "isArchived": false
}