workflows/local_5679_kali_a/Marketing/Generate - HeyGen - Avatar Shorts from URLs.json
{
  "id": "jLdgFFOARW79of17",
  "name": "Generate - HeyGen - Avatar Shorts from URLs",
  "nodes": [
    {
      "parameters": {
        "content": "Purpose:\nAutomates creation of short avatar videos from source URLs and approval status in a sheet.\n\nTrigger:\nSchedule Trigger.\n\nProcess Summary:\n- Read pending rows from Google Sheets.\n- Create avatar video jobs via HeyGen API.\n- Poll for completion and approval status.\n- Save final video links back to sheet/workflow state.\n\nOutput:\nPublished or approved avatar video links recorded for marketing reuse.\n\nOwner:\nMarketing Operations",
        "height": 380,
        "width": 620,
        "color": 7
      },
      "id": "workflow-overview-note",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1292,
        -400
      ]
    },
    {
      "parameters": {
        "content": "# What does this workflow do?\n\n## Description\n\nThis AI Avatar Viral News system turns any URL—a news article, blog post, or even an n8n workflow page—into a short, vertical talking-head AI video that explains the content for you (no filming or editing required). It uses Gemini to fetch and summarize the page, writes a punchy script and captions, then generates the video with HeyGen. Finally, it sends the MP4 to **Upload-Post** to publish or schedule across your social profiles.\n\n### The 4 video types we generate\n\n**Free (zero cost, full free trial of APIs):**\n1) **Split-screen (vertical) with background video**: top half shows an auto-scroll capture of the article/blog/workflow; bottom half shows your avatar speaking and gesturing.\n2) **Split-screen (vertical) with static image**: same layout, but instead of a background video, we use a single static image (e.g., the article’s hero image or a screenshot).\n\n**Paid heygen api (background removal):**\n3) **Cut-out avatar over background video**: your avatar is cleanly cut out and overlaid on top of a background video.\n4) **Cut-out avatar over static image**: your avatar is cleanly cut out and overlaid on a single static image.\n\n> Notes:\n> - Free/Trial modes use split-screen (no background removal).\n> - Paid modes use background removal for a clean overlay (depends on HeyGen plan and API availability).\n\n### HeyGen rendering modes\n- **Free / Trial (no background removal):** split-screen look (avatar on the lower half, background video or static image on the upper half).\n- **Paid API (with background removal):** clean cut-out avatar over a background video or a static image. Enable by setting `background_removal: true` in the **Set Input Vars** node (requires a paid HeyGen API plan).\n\n## Overview\n\n1. **Manual trigger**\n\n2. **AI agent: fetch webpage & generate script**  \n   - The agent grabs the target page and produces a concise, 30–45s script.  \n   - Generates platform-optimized captions/descriptions.\n\n3. **Create avatar video (HeyGen)**  \n   - Call the HeyGen API with your `avatar_id` and `voice_id`.  \n   - Choose layout/background:\n     - **Free / Trial:** split-screen vertical.\n       - **Background as video:** set `has_background_video: true` and provide `background_video_url`.\n       - **Background as static image:** set `has_background_image: true` and provide `background_image_url`.\n     - **Paid:** background removal overlay.\n       - **Overlay on video:** set `background_removal: true` and `background_video_url`.\n       - **Overlay on static image:** set `background_removal: true` and `background_image_url`.\n\n4. **Get video**  \n   - Poll HeyGen until the job completes, then download the final MP4.  \n   - Upload the resulting video file to **Upload-Post**.\n\n5. **Human review / approval**  \n   - A human reviews the video, title, and captions. Approve to continue, or request changes and loop back to steps 2–4.\n\n6. **Publish to social media via Upload-Post**  \n   - Connect your social profiles in **Upload-Post**.  \n   - Pick platforms (e.g., TikTok, Instagram, YouTube, X, Facebook, etc.).  \n   - Publish immediately or schedule for later.",
        "height": 1312,
        "width": 1456
      },
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Post to All social networks\n",
        "height": 976,
        "width": 320
      },
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2576,
        1312
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "For background removal need heygen api paid plan and set true in var background_removal",
        "height": 116,
        "width": 182,
        "color": 3
      },
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        1616
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        1760,
        1728
      ],
      "webhookId": "d9404622-0a06-4a65-959e-badd4fd87465",
      "typeVersion": 1.1,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Edit Fields').item.json.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Set Input Vars').item.json.heygen_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Avatar Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1920,
        1728
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e511deb8-8e4c-45db-aa35-18f43a0552b6",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Get Avatar Video').item.json.data.status }}",
              "rightValue": "completed"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "name": "If Video Done",
      "type": "n8n-nodes-base.if",
      "position": [
        2080,
        1728
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"1348c67013e0469c89b303fbd25f4aaa\",\n        \"avatar_style\": \"normal\",\n        \"scale\": 1.8,\n        \"offset\": {\n          \"x\": 0.0,\n          \"y\": 0.32\n        }\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.Script }}\",\n        \"voice_id\": \"c4a8ceb7a2954500bc047fb092bcff3f\",\n        \"speed\": 1.1,\n        \"pitch\": 50,\n        \"emotion\": \"Excited\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 720,\n    \"height\": 1280\n  },\n  \"aspect_ratio\": \"9:16\",\n  \"caption\": false,\n  \"title\": \"n8n-avatar\"\n}\n",
        "options": {}
      },
      "name": "Create video avatar with split screen (heygen free trial api)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1424,
        1728
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "UENtp0s5pzGEtMyg",
          "name": "Bearer Auth account"
        },
        "httpHeaderAuth": {
          "id": "GBxUDWSIY1VL2V3R",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $json.data.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Set Input Vars').item.json.heygen_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Get video url",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2240,
        1712
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Review the posts ",
        "formDescription": "={{ $json.data.video_url }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "decision",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "approve"
                  },
                  {
                    "option": "reject"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "name": "Wait to approve by user1",
      "type": "n8n-nodes-base.wait",
      "position": [
        2432,
        1712
      ],
      "webhookId": "f8e6054e-44e4-4987-9698-d5befb8b31b6",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "394500db-496d-4c6e-9adb-59f3caead492",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Wait to approve by user1').item.json.decision }}",
              "rightValue": "=approve"
            }
          ]
        },
        "looseTypeValidation": "=true",
        "options": {}
      },
      "name": "If approved publish1",
      "type": "n8n-nodes-base.if",
      "position": [
        2576,
        1712
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "# Approval by human for upload to social networks\n",
        "height": 976,
        "width": 416,
        "color": 7
      },
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        1312
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setup\n\n### 1) Accounts & API keys\n- **HeyGen** (Free/Trial or Paid API). Background removal requires the **paid** API plan.\n- **https://dash.screenshotone.com/** (Free trial not credit card) for generate video background of the url\n- **Upload-Post** (Free trial not credit card) for publishing.\n- **OpenAI/Gemini** for scripting.\n- *(Optional)* **ElevenLabs** (custom voice linked inside HeyGen).\n\n### Add variables :\n- In the Set Input Vars node\n\n### 2) HeyGen configuration\n- **Choose rendering mode**\n  - **Free / Trial:** no background removal → split-screen layout (avatar bottom half, background video top half).\n    - Set `background_removal: false`.\n  - **Paid API:** background removal → clean cut-out avatar overlaid on the background video.\n    - Set `background_removal: true` (requires paid plan).\n- In the **Set Input Vars** node set:\n  - `avatar_id` and `voice_id`\n  - `background_video_url: https://...` (if using a background)\n\n### 3) Upload-Post configuration\n- In **SETUP UPLOAD-POST** node:\n  - Generate api key and connect social networs: https://app.upload-post.com\n  - Select the social networks you want to upload platform\n  - The description for each social network is generated by AI agent\n  - publish now or schedule_at\n\n\n",
        "height": 1024,
        "width": 912
      },
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.heygen.com/v1/asset",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Set Input Vars').item.json.heygen_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "name": "upload to heygen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2960,
        1680
      ],
      "typeVersion": 4.3,
      "credentials": {
        "httpBearerAuth": {
          "id": "UENtp0s5pzGEtMyg",
          "name": "Bearer Auth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac5899dd-52f6-48bb-981e-9cb60696e461",
              "name": "video_id",
              "type": "string",
              "value": "={{ $json.data.video_id }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1600,
        1728
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Video DEMO\n\n\n@[youtube](fh3t6Kc2oRM)",
        "height": 416,
        "width": 512
      },
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1J4zfpqOzu1hFcw0AeJLE-_-mCF5S-u3ZZ2yjsBhOi9M",
          "mode": "list",
          "cachedResultName": "Hygen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J4zfpqOzu1hFcw0AeJLE-_-mCF5S-u3ZZ2yjsBhOi9M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J4zfpqOzu1hFcw0AeJLE-_-mCF5S-u3ZZ2yjsBhOi9M/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        1728
      ],
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNLavzV8rZPPc9vz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v2/avatar_group.list",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "include_public",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3904,
        1472
      ],
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GBxUDWSIY1VL2V3R",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v2/voices",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "<your-api-key>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3632,
        1472
      ],
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GBxUDWSIY1VL2V3R",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get voices from Heygen\n",
        "height": 240,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3584,
        1392
      ],
      "typeVersion": 1,
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "={{ $json.Picture }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image.jpg"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3136,
        1664
      ],
      "name": "url to binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.heygen.com/v1/asset",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "image.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3312,
        1664
      ],
      "name": "upload to HeyGen",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GBxUDWSIY1VL2V3R",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/photo_avatar/photo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "monaimabdel"
            },
            {
              "name": "age",
              "value": "Young Adult"
            },
            {
              "name": "gender",
              "value": "Man"
            },
            {
              "name": "ethnicity",
              "value": "Black"
            },
            {
              "name": "orientation",
              "value": "square"
            },
            {
              "name": "pose",
              "value": "half_body"
            },
            {
              "name": "style",
              "value": "Realistic"
            },
            {
              "name": "appearance",
              "value": "keep natural"
            },
            {
              "name": "photo_asset_id",
              "value": "={{ $json.data.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3456,
        1664
      ],
      "name": "HTTP Request4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GBxUDWSIY1VL2V3R",
          "name": "Header Auth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Get Avatares from Heygen\n",
        "height": 240,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        1392
      ],
      "typeVersion": 1,
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Generate AVatar\n",
        "height": 208,
        "width": 704,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2928,
        1648
      ],
      "typeVersion": 1,
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1072,
        1728
      ],
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Get Avatar Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video url": {
      "main": [
        [
          {
            "node": "Wait to approve by user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Video Done": {
      "main": [
        [
          {
            "node": "Get video url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Avatar Video": {
      "main": [
        [
          {
            "node": "If Video Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload to heygen": {
      "main": [
        []
      ]
    },
    "If approved publish1": {
      "main": [
        []
      ]
    },
    "Wait to approve by user1": {
      "main": [
        [
          {
            "node": "If approved publish1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create video avatar with split screen (heygen free trial api)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Create video avatar with split screen (heygen free trial api)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url to binary": {
      "main": [
        [
          {
            "node": "upload to HeyGen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload to HeyGen": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timeSavedMode": "fixed"
  },
  "tags": [],
  "active": true,
  "projectId": "AbL0oEXcD3fRF7GZ",
  "projectName": "Personal",
  "homeProject": {
    "id": "AbL0oEXcD3fRF7GZ",
    "name": "Personal",
    "type": "personal"
  },
  "isArchived": false
}
